*.log
*/log/*
*.bag
*.bag.active
*.bag.active.lock
*.bag.lock
*.bag.partial
*.bag.tmp
*.bag.upgrading
*.bag.upgrading.lock
install/*
*/install/*
build/*
devel/*
*.pyc
*.pyo
*/build/*
**/install/**
**/build/**